.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

.login-btn{
    float: left;
    width: 110px;
    height: 40px;
    border: 1px solid #72A0C1;
    margin: 3 30 3px 0;
    background-color: #72A0C1;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.login-btn:hover{
    background-color: #5D8AA8;
    cursor: pointer;
}
.title{
   
    font-size: 46px;
    font-weight: 800;
    color: #72A0C1;
}
.float-start {
    height: 350px;
    width: 550px;
  }

.container-fluid {
    max-width: 100%;
    padding: 100;
  }

.image {
    height: 400px;
    width: 470px;
}
.col-md-4 { 
   margin-top: 32px;
   padding: 15px
}