<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="assets/images/avatar.png"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
              <div class="mt-3">
                <h4 class="username">{{currentProfile.username}}</h4>
              </div>
            </div>
          </div>
        </div>
  <h5 *ngIf="getRole() === 'Host'" class="d-flex align-items-center mb-3">Notifications:</h5>
<div *ngFor="let notification of notifications" class="align-items-center card mt-3">
  <h6> {{notification.date_and_time }}</h6>
  <p>{{ notification.notification_text }}</p>
</div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Username</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.username}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.email}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.name}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.lastname}}</div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Street</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.address.street}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.address.city}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Country</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.address.country}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{currentProfile.age}}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
            </div>
            <div class="col-sm-9 text-secondary">
           
                {{currentProfile.gender}}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Role</h6>
            </div>
            <div class="col-sm-9 text-secondary">
           
                {{currentProfile.userRole}}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12">
                <button class="btn" routerLink="/edit-profile">Edit Profile</button>
              <button class="btn" (click)="deleteProfile()">Delete Profile</button>

              </div>

            
            </div>

            <!-- Error handling -->
            <div *ngIf="errorMessage" class="error">
              {{ errorMessage }}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
