    <section id="testimonials">
        <div class="testimonial-heading">
            <h1>Accommodation Reviews</h1>
        </div>
        <div class="testimonial-box-container">
            <!-- one review -->
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <strong>Username</strong>
                            <span>email@gmail.com</span>
                        </div>
                    </div>
                    <div class="name-user">
                        <span>mm.dd.yyyy</span>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i> 5.0</i>
                    </div>
                    
                </div>
            </div>

        </div>
    </section>
    <section id="testimonials">
        <div class="testimonial-heading">
            <h1>Accommodation Reviews (average: {{ ratingResponse2?.averageRating }})</h1>
            <p class="notif" *ngIf="notification" [class]="notification.msgType">
                {{ notification.msgBody }}
              </p>

        </div>
        <div class="testimonial-heading">
            <h1>Host Reviews (average: {{ ratingResponse?.averageRating }})</h1>
            <p class="notif" *ngIf="notification" [class]="notification.msgType">
                {{ notification.msgBody }}
              </p>

        </div>
        <div class="testimonial-box-container" >
            <!-- one review -->
            <div class="testimonial-box" *ngFor="let rating of ratingResponse?.ratings; let i = index">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <strong>{{ rating.guest.username }}</strong>
                            <span>{{ rating.guest.email }}</span>
                        </div>
                    </div>
                    <div class="name-user">
                        <span>{{ rating.dateAndTime }}</span>
                    </div>
                    <div class="reviews">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i>{{ rating.rating }}</i>
                    </div>
                </div>
            </div>

        </div>
    </section>

  
  
  
  