<div class="site-content">
<section class="gallery">
    <div class="prices">
      <h3>Explore Gobnb picks</h3>
      <div class="img">
        <img src="assets/images/car.jpg"/>
        <div class="price-stamp">$100 night</div>
        <div class="description">
          <h4><a routerLink="/accommodation">Accomodation name</a></h4>
          <p>Description </p>
          <p>Location </p>
        </div>
      </div>

      <div class="img">
        <img src="assets/images/car2.jpg"/>
        <div class="price-stamp">$100 night</div>
        <div class="description">
          <h4><a routerLink="/accommodation">Accomodation name</a></h4>
            <p>Description </p>
          <p>Location </p>
        </div>
      </div>

      <div class="img">
        <img src="assets/images/car.jpg"/>
        <div class="price-stamp">$100 night</div>
        <div class="description">
          <h4><a routerLink="/accommodation">Accomodation name</a></h4>
          <p>Description </p>
          <p>Location </p>
        </div>
      </div>
      
    </div>
  </section>
  </div>
