<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
      <h5 class="m-0">Forgot your password?</h5>
      <span class="text"
        >Enter your email address that you use to login.</span
      >
      <div class="d-flex flex-row mt-5">
        <input type="email" class="form-control" autofocus="" />
      </div>
      <span class="text">Email address</span>
      <div class="d-flex flex-row mt-5">
        <button
        class="btn"
        type="submit"
      >
        Request password reset
      </button>
    </div>
      <div class="text-center ">
      <span class="font-weight-bold text cursor"><a routerLink ="/login">Back to login</a></span>
      </div>
    </div>
  </div>
  