    * {
        margin: 0;
        padding: 0;
    }
    
    .host-rating {
        margin-top: 70px;
    }
    
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    
    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }
    
    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }
    
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
    
    #resetStars {
        margin-left: 10px;
        cursor: pointer;
        float: left;
        width: 100px;
        height: 35px;
        border: 1px solid #72A0C1;
        margin: 3 70 3px 0;
        background-color: #72A0C1;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        border-top-right-radius: 3px;
    }
    #reset-stars:hover{
        background-color: #5D8AA8;
        cursor: pointer;
    }
    h3 {
        padding-bottom: 10px;
        font-size: 27px;
        color: #72A0C1;
        font-weight: 700;
      }
     
  .notif {
    color:red
  }