<div class="d-flex justify-content-center align-items-center container">
  <div class="card py-5 px-3">
    <h5 class="m-0">Reset password</h5>
    <span class="text"
    >Enter the code we just send to your email address
    <b class="text">{{email}}</b></span
  >

  <form [formGroup]="passwordForm">

    <div class="d-flex flex-row mt-3">
      <input type="text"   formControlName="passwordResetToken" class="form-control" autofocus="" />
    </div>
    <span class="text">Reset code</span>
    <p class="notif" *ngIf="passwordForm.get('passwordResetToken')?.hasError('required') && passwordForm.get('passwordResetToken')?.touched">
      Reset token is required.
    </p>

    <div class="d-flex flex-row mt-3">
      <input type="password" formControlName="password"  class="form-control"  autofocus="" />
    </div>
    <span class="text">New password</span>
    <p class="notif" *ngIf="passwordForm.get('password')?.hasError('pattern') && passwordForm.get('password')?.touched">
      Password must be at least 8 characters and include one uppercase letter, one lowercase letter, one number, and one special character.
    </p>

    <div class="d-flex flex-row mt-3">
      <input type="password"  formControlName="passwordConfirm" class="form-control" autofocus="" />
    </div>
    <span class="text">Confirm new password</span>
    <p class="notif" *ngIf="passwordForm.get('passwordConfirm')?.hasError('required') && passwordForm.get('passwordConfirm')?.touched">
      Confirm new password is required.
    </p>

    <div class="d-flex flex-row mt-3">
      <button class="btn" type="submit" (click)="resetPassword()">Reset password</button>
    </div>
    
    <div class="d-flex flex-row mt-3">
      <p class="notif" *ngIf="notification" [class]="notification.msgType">
        {{ notification.msgBody }}
      </p>
    </div>
  </form>
    <div class="text-center">
      <span class="font-weight-bold text cursor"
        ><a routerLink="/login">Back to login</a></span
      >
    </div>
  </div>
</div>
