<div class="d-flex justify-content-center align-items-center container">
  <div class="card py-5 px-3">
    <h5 class="m-0">Reset password</h5>
    <span class="text"
    >Enter the code we just send to your email address
    <b class="text">{{email}}</b></span
  >
    <div class="d-flex flex-row mt-3">
      <input type="text"  [(ngModel)]="passwordResetToken" class="form-control" autofocus="" />
    </div>
    <span class="text">Reset code</span>
    <div class="d-flex flex-row mt-3">
      <input type="password" [(ngModel)]="password"  class="form-control"  autofocus="" />
    </div>
    <span class="text">New password</span>
    <div class="d-flex flex-row mt-3">
      <input type="password" [(ngModel)]="passwordConfirm" class="form-control" autofocus="" />
    </div>
    <span class="text">Confirm new password</span>
    <div class="d-flex flex-row mt-3">
      <button class="btn" type="submit" (click)="resetPassword()">Reset password</button>
    </div>
    <div class="d-flex flex-row mt-3">
      <p class="notif" *ngIf="notification" [class]="notification.msgType">
        {{ notification.msgBody }}
      </p>
    </div>
    <div class="text-center">
      <span class="font-weight-bold text cursor"
        ><a routerLink="/login">Back to login</a></span
      >
    </div>
  </div>
</div>
