<form [formGroup]="form">
  <div class="form-group">
    <h2 class="heading">Reserve accommodation</h2>

    <div class="controls">
      <input
        formControlName="check_in_time"
        type="number"
        id="check_in_time"
        class="floatLabel"
        name="name"
        required
        placeholder="Check in time"
        [(ngModel)]="check_in_time"
        max="24"
        min="1"/>
    </div>


    <div class="controls">
      <input formControlName="number_of_guests" type="number" id="number_of_guests" class="floatLabel" name="name" required
        placeholder="Number of guests" [(ngModel)]="number_of_guests" min="1" />
    </div>

    <div class="grid">
      <div class="col-1-2">
        <div class="controls">
          <input
            formControlName="check_in_date"
            type="date"
            id="arrive"
            class="floatLabel"
            name="arrive"
            placeholder="Check in"
            [(ngModel)]="check_in_date"
          />
        </div>
      </div>
      <div class="col-1-2">
        <div class="controls">
          <input
            formControlName="check_out_date"
            type="date"
            id="depart"
            class="floatLabel"
            name="depart"
            placeholder="Check out"
            [(ngModel)]="check_out_date"
          />
        </div>
      </div>
    </div>
  </div>
  <button type="submit" value="Submit" (click)="createReservation()">
    Reserve
  </button>
</form>

<div class="alert alert-danger" role="alert" *ngIf="showDiv">
  {{ errorMessage }}
</div>

<div class="alert alert-success" role="alert" *ngIf="showDivSuccess">
  Reserved successfully!
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorCheck">
  Please enter valid check in time!
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorCheckGuests">
  Please enter valid number of guests!
</div>