<div class="container-fluid">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h2 class="heading">
              Create Availability Period
            </h2>
         
          </div>
          <p class="notif" *ngIf="notification" [class]="notification.msgType">
            {{ notification.msgBody }}
          </p>
          
          <div class="modal-body">
            <div class="my-1 p-1">
              <div class="d-flex flex-column">
                <ng-container>
                  <div class="row mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-2">Start Date</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        <input
                        type="date"
                        id="startDate"
                        class="floatLabel"
                        name="startDate"
                        placeholder="Start Date"
                      />
                    </div>
                    </div>
                    <div class="row mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-2">End Date</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        <input
                        type="date"
                        id="endDate"
                        class="floatLabel"
                        name="endDate"
                        placeholder="End Date"
                      />
                    </div>
                  </div>
  
                  <div class="row mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-2">Price</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      <input type="number" class="form-control" id="price"/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-2">Price Type</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        <select id="priceType" name="priceType">
                            <option value="PerPerson">Per Person</option>
                            <option value="PerDay">Per Day</option>
                        </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-3">Availability</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                        <select id="availabilityType" name="availabilityType">
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>
                    </div>
                  </div>
                  
                </ng-container>
              </div>
            </div>
          </div>
            <button type="submit" class="btn">Create Availability</button>
        </div>
      </form>
    </div>
  </div>