.container-fluid {
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px; 
}

.modal-footer {
  display: flex;
  justify-content: flex-end; /* Align the button to the right side of the footer */
  padding: 15px; /* Add padding for spacing */
}

h2.heading {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  color: #72A0C1; 
  padding-top: 30px;
  margin-left: 20px;
}

.btn{
    width: 360px;
    height: 42px;
    border: 1px solid #72A0C1;
    margin-left: 22px;
    margin-bottom: 22px;
    background-color: #72A0C1;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btn:hover{
    background-color: #5D8AA8;
    cursor: pointer;
}

.notif{
    color: red;
}

input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    padding: 8px;
    border: 1px solid #c6c6c6; 
    width: 270px;
    margin-left: 25px;
    color: #888;
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    transition: all 0.3s;
  
    &:focus,
    &:hover {
      outline: none;
      border-color: #9FB1C1; 
      +label {
        color: #72A0C1; 
        cursor: text;
      }
    }
  }