
<div class="password-strength__bar-block progress mb-4">
  <div
    id="strength_bar"
    class="password-strength__bar progress-bar"
    [ngClass]="{
      'bg-secondary': strength === '',
      'bg-danger': strength === 'weak',
      'bg-warning': strength === 'moderate',
      'bg-info': strength === 'strong',
      'bg-success': strength === 'extra'
    }"
    [ngStyle]="{
      width:
        strength === '100%'
          ? '25%'
          : strength === 'weak'
          ? '25%'
          : strength === 'moderate'
          ? '50%'
          : strength === 'strong'
          ? '75%'
          : '100%'
    }"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
  <div
    class="password-strength__label"
    [ngClass]="{
      'text-danger': strength === 'weak',
      'text-warning': strength === 'moderate',
      'text-info': strength === 'strong',
      'text-success': strength === 'extra'
    }"
  >
    {{
      strength === "weak"
        ? "Weak"
        : strength === "moderate"
        ? "Moderate"
        : strength === "strong"
        ? "Strong"
        : strength === "extra"
        ? "Extra Strong"
        : ""
    }}
  </div>
</div>
