
  /*----------------
  ---Main Content---
  ----------------*/
  
  .site-content{
    margin: 130px auto;
    width: 940px;
    font-family: Circular,Helvetica,Arial,sans-serif;
    
}

/*---title---*/

    .title{
        font-size: 46px;
        font-weight: 100;
        color: #484848;
        margin-bottom: 60px;
    }
    .title span{
        font-weight: 800;
        color: #72A0C1;
    }

/*---search-row---*/

    .search-input{
        padding: 10px;
        float: left;
        width: 310px;
        height: 42px;
        border: 1px solid #757575;
        border-right-color: transparent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 16px;
    }
    .checks-input{
        float: left;
        width: 300px;
        height: 42px;
        border: 1px solid #757575;
        border-right-color: transparent;
    }
        .check-in {
            padding: 2px;
            margin: 5px;
            float: left;
            width: 120px;
            height: 30px;
            margin-right: 5px;
            border-color: transparent;
          font-size: 16px;
        }
        .check-in:focus{
            outline: none;
            background-color: #72A0C1;
            border-radius: 4px;
        }
        .check-in:hover{
            cursor: pointer;
        }
        .check-out{
            padding: 2px;
            float: right;
            margin-top: 5px;
            margin-right: 5px;
            width: 120px;
            height: 30px;
            border-color: transparent;
          font-size: 16px;
        }
        .check-out:focus{
            outline: none;
            background-color: #72A0C1;
            border-radius: 4px;
        }
        .check-out:hover{
            cursor: pointer;
        }
        .right-arrow{
            fill: currentColor;
            color: #72A0C1;
            margin-top: 7px;
        }
    .guests{
        float: left;
        width: 130px;
        height: 42px;
        border: 1px solid #757575;
        border-right-color: transparent;
        background-color: #fff;
        font-size: 16px;
        padding: 10px;
    }
    .priceinput{
        width: 130px;
        border: 1px solid #757575;
        border-right-color: transparent;
        background-color: #fff;
    }
    .search-btn{
        float: left;
        width: 150px;
        height: 42px;
        border: 1px solid #72A0C1;
        margin: 0 0 3px 0;
        background-color: #72A0C1;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .search-btn:hover{
        background-color: #5D8AA8;
        cursor: pointer;
    }
    .reset-btn{
        float: left;
        width: 100px;
        height: 30px;
        border: 1px solid #72A0C1;
        margin: 0 0 3px 0;
        background-color: #72A0C1;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        border-radius: 3px;
    }
    .reset-btn:hover{
        background-color: #5D8AA8;
        cursor: pointer;
    }
    .advanced-btn{
        float: left;
        width: 100px;
        height: 30px;
        border: 1px solid #72A0C1;
        margin: 0 0 0 0;
        background-color: #fff;
        color: #72A0C1;
        font-weight: bold;
        font-size: 14px;
        border-radius: 3px;
    }
    .advanced-btn:hover{
        background-color: #72A0C1;
        color: #fff;
        cursor: pointer;
    }

    .advanced_search1 > * {
        margin-left: 10px;
    }