<section id="inner">
  <div class="overview">
    <img class="img" src="assets/images/car.jpg" />
    <div class="head">
      <div class="name">
        <h2>Accommodation name</h2>
        <p>Location</p>
      </div>
      <span>Price</span>
    </div>
    <hr />
    <h3>Description about accommodation</h3>
    <p id="text ">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <hr />
    <h3>Benefits</h3>
    <div class="benefits">
      <p>
        <label> <input type="checkbox" name="wifi" /> Free WiFi </label>
      </p>
      <p>
        <label> <input type="checkbox" name="kitchen" /> Kitchen </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="air-conditioning" /> Air Conditioning
        </label>
      </p>
      <p>
        <label>
            <input type="checkbox" name="free-parking" /> Free Parking
          </label>
      </p>
      <hr />
    <h3>Capacity</h3>
    <p>
        <label>Minimum Guests:
          <input type="number" name="min" /> 
        </label>
      </p>
      <p>Maximum Guests:
        <label>
            <input type="number" name="max" /> 
          </label>
      </p>
    </div>
  </div>

  <div class="enroll" *ngIf="getRole() === 'Guest'">
    <app-reservation></app-reservation>
  </div>
</section>
