<section id="inner">
  <div class="overview">
    <div *ngIf="images && images.length > 0">
      <img class="img" [src]="currentImage" />
      <i (click)="nextImage()" *ngIf="currentIndex < images.length - 1" class="fa-solid fa-arrow-right"></i>
      <i (click)="prevImage()" *ngIf="currentIndex > 0" class="fa-solid fa-arrow-left"></i>
    </div>    
    <div class="head">
      <div class="name">
        <h2>{{ accommodation?.accommodation_name }}</h2>
        <p>{{ accommodation?.accommodation_location }}</p>
      </div>
      <!-- <span>Price</span> -->
    </div>
    <hr />
    <h3>Amenities</h3>
    <div class="amenities">
      <p>
        <label> <input type="checkbox" name="TV" id="tv" [checked]=tv /> TV </label>
      </p>
      <p>
        <label> <input type="checkbox" name="WiFi" [checked]=wifi/> WiFi </label>
      </p>
      <p>
        <label>
          <input type="checkbox" name="AC" [checked]=ac/> AC
        </label>
      </p>
      <hr />
    <h3>Capacity</h3>
    <p>Minimum Guests:
      <label>
          <p class="blue">{{ accommodation?.accommodation_min_guests }}</p> 
        </label>
    </p>
      <p>Maximum Guests:
        <label>
            <p class="blue">{{ accommodation?.accommodation_max_guests }}</p> 
          </label>
      </p>
      <hr />
      <h3>Reviews</h3>
      <a routerLink="/reviews">Click here to see all reviews</a>
    </div>
    <div *ngIf="getRole() === 'Guest'">
    <app-rate-host [hostId]="hostId"></app-rate-host>
    </div>
    <br>
    <div *ngIf="getRole() === 'Guest'">
      <app-rate-accommodation [accommodationId]="accommodationId"></app-rate-accommodation>
      </div>
      <br>

    <!-- <div *ngIf="getRole() === 'Host'">
      <button class="btn" routerLink="/availability-create/{{accId}}">Add Availability</button>
    </div> -->
  </div>
<div *ngIf="getRole() === 'Guest'">
  <div class="enroll">
    <app-reservation [accommodationId]="accId"></app-reservation>
  </div>
</div>
<div *ngIf="getRole() === 'Host'">
  <div class="enroll">
    <app-create-availability  [accId]="accId" ></app-create-availability>
  </div>
</div>
</section>
