<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="assets/images/avatar.png"
                class="rounded-circle p-1"
                width="110"
              />
              <div class="mt-3">
          <p class="notif" *ngIf="profileServiceAvailable"> Profile service not available </p>
                <h4>{{currentUsername}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="align-items-center card mt-3">
          <div class="mb-2"><b>Change Password</b></div>
          <p class="notif" *ngIf="notification" [class]="notification.msgType">
            {{ notification.msgBody }}
          </p>
          <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="currentPassword">Current Password</label>
                  <input type="password" id="currentPassword" name="currentPassword" class="form-control" required [(ngModel)]="currentPassword">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" id="newPassword" name="newPassword" class="form-control" required [(ngModel)]="newPassword">

                  <app-password-strenght-validator
                  [password]="newPassword"
                ></app-password-strenght-validator>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required [(ngModel)]="confirmNewPassword">
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPassword" />
              <label class="form-check-label" for="showPassword">Show Password</label>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-start mt-3">
                <button class="btn btn-warning" type="submit">Change password</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <p class="notif" *ngIf="notification2" [class]="notification2.msgType">
              {{ notification2.msgBody }}
            </p>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Role</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [(ngModel)]="currentRole" name="role" [disabled]="true" />
              </div>
            </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" [(ngModel)]="currentUsername" name="username" [disabled]="true" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" [(ngModel)]="currentEmail" name="email" [disabled]="true"/>
                </div>
              </div>
              <form #profileForm="ngForm" [formGroup]="changeInfoForm" (ngSubmit)="saveChanges()">

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input formControlName="name" type="text" class="form-control" [(ngModel)]="currentProfile.name"  name="name" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input formControlName="lastname" type="text" class="form-control" [(ngModel)]="currentProfile.lastname"  name="lastname" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Street</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input #streetInput type="text" class="form-control" [(ngModel)]="currentProfile.address.street"  formControlName="street" name="street" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input #cityInput type="text" class="form-control" [(ngModel)]="currentProfile.address.city" formControlName="city" name="city" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Country</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input #countryInput type="text" class="form-control" [(ngModel)]="currentProfile.address.country" formControlName="country"  name="county" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="number" class="form-control" formControlName="age" [(ngModel)]="currentProfile.age" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Gender</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="radio" id="male" name="gender" value="Male" formControlName="gender" [(ngModel)]="currentProfile.gender" [checked]="currentProfile.gender === 'Male'" />  
                  <label for="male">Male</label><br />
                   
                  <input type="radio" id="female" name="gender" value="Female" formControlName="gender" [(ngModel)]="currentUser.gender" [checked]="currentProfile.gender === 'Female'"/>
                    <label for="female">Female</label><br />
                   
                  <input type="radio" id="other" name="gender" value="Other" formControlName="gender" [(ngModel)]="currentUser.gender" [checked]="currentProfile.gender === 'Other'"/>  
                  <label for="other">Other</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                  <button class="btn btn-primary px-4" type="submit">Save Changes</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
