<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
              ></button>
              <img
                src="assets/images/avatar.png"
                alt="Admin"
                class="rounded-circle p-1"
                width="110"
              />
              <div class="mt-3">
                <h4>Username</h4>
                <label for="fileUpload" class="upload-label"></label>
                <input type="file" name="images" accept="image/*" />
                <div class="mt-2">
                  <button class="btn btn-warning" type="button">
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Change Photo</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="align-items-center card mt-3">
          <div class="mb-2"><b>Change Password</b></div>
          <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="currentPassword">Current Password</label>
                  <input type="password" id="currentPassword" name="currentPassword" class="form-control" required [(ngModel)]="currentPassword">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" id="newPassword" name="newPassword" class="form-control" required [(ngModel)]="newPassword">

                  <app-password-strenght-validator
                  [password]="newPassword"
                ></app-password-strenght-validator>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required [(ngModel)]="confirmNewPassword">
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPassword" />
              <label class="form-check-label" for="showPassword">Show Password</label>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-start mt-3">
                <button class="btn btn-warning" type="submit">Change password</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Username</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Username" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Email" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Name" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Last Name" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Street</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Street" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="City" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Country</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Country" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Age</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="number" class="form-control" value="30" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Gender</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  <input type="radio" id="male" name="gender" value="Male" />  
                <label for="male">Male</label><br />
                 
                <input type="radio" id="female" name="gender" value="Female" />
                  <label for="female">Female</label><br />
                 
                <input type="radio" id="other" name="gender" value="Other" />  
                <label for="other">Other</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="button"
                  class="btn btn-primary px-4"
                  routerLink="/profile"
                  value="Save Changes"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
