
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  /*----------
  ---Header---
  ----------*/
  
  header {
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: 62px;
    font-family: Circular,Helvetica,Arial,sans-serif;
    color: #484848;
    background-color: #fff;
    border: 1px solid #DCE0E0;
    border-top: none;
    border-right: none;
    border-left: none;
}



/*---logo---*/

    .logo {
        width: 138px;
        height: 61px;
        padding: 15px 15px;
        float: left;
        border: 1px solid #DCE0E0;
        border-top: none;
        border-bottom-color: transparent;
    }
        .logo:hover{
            background-color: #F5F5F5;
            cursor: pointer;
        }
        .logo img {
            width: 110px;
            height: 41px;
        }



/*---search-bar---*/

    .search-bar {
        width: 817px;
        height: 61px;
        border: 1px solid #DCE0E0;
        padding: 19px 18px;
        float: left;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top: none;
    }
        .search-icon {
            width: 26px;
            height: 26px;
            margin-right: 4px;
            float: left;
            fill: currentColor;
            color: #D3D5D3;
        }
        .search-form input{
            width: 730px;
            height: 18px;
            line-height: 18px;
            font-size: 15px;
            padding: 2px;
            margin-top: 3px;
            border: transparent;
        }
        .search-form input:focus {
            outline: none;
        }



/*---main-nav---*/

    .main-nav{
        float:right;
    }
    .main-nav li{
        float: left;
        list-style: none;
        padding: 22px 18px;
        border: 1px solid #DCE0E0;
        height: 61px;
        font-size: 17px;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-top: none;
        color: #5D8AA8;
        font-weight: bold;
    }
        .main-nav li:last-child{
        border-right-color: transparent;	
        }
        .main-nav li:hover{
            background-color: #F5F5F5;
            cursor: pointer;
        }
    .main-nav li button{
        margin-top: -10px;
        width: 120px;
        height: 30px;
        background: none;
        border: 2px solid #C4C4C4;
        border-radius: 5px;
        background-color: tranparent;
    }
        .main-nav li button:hover{
            border-color: #AAAAAA;
            cursor: pointer;
        }
        .main-nav li button:focus {
            outline: none;
        }

          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {background-color: #5D8AA8;}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
          .dropdown:hover .dropbtn {
            background-color: #5D8AA8;
          }
  