<div class="container-fluid">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h2  class="heading">
            Create Accommodation
          </h2>
                <div class="notif" *ngIf="accServiceAvailable"> Accommodation service not available </div>

       
        </div>
        <p class="notif" *ngIf="notification" [class]="notification.msgType">
          {{ notification.msgBody }}
        </p>
        <div class="modal-body">
          <div class="my-1 p-1">
            <div class="d-flex flex-column">
              <!-- <div class="d-flex align-items-center">
                <div class="p-4">
                  <img
                    src="assets/images/avatar.png"
                    class="rounded-circle me-2"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <div>
                  <p class="m-0 fw-bold">{{ getUsername() }}</p>
                </div>
              </div> -->

              <ng-container>
                <div class="row mb-3">
                  <div class="col-sm-2">
                    <h6 class="mb-2">Name</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    <input type="text" class="form-control" id="name" />
                  </div>

                  <div class="col-sm-2">
                    <h6 class="mb-2">Location</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    <input type="text" class="form-control" id="location" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-2">
                    <h6 class="mb-2">Amenities</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    <p>
                      <label>
                        <input type="checkbox" name="TV" id="tv" /> TV
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" name="WiFi" id="wifi"/> WiFi
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" name="AC" id="ac"/>
                        AC
                      </label>
                    </p>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-2">
                    <h6 class="mb-2">Minimum guests</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    <input type="number" class="form-control" id="minGuests" />
                  </div>
                  <div class="col-sm-2">
                    <h6 class="mb-2">Maximum guests</h6>
                  </div>
                  <div class="col-sm-4 text-secondary">
                    <input type="number" class="form-control" id="maxGuests" />
                  </div>
                </div>

                <h6 class="mb-2">Add images:</h6> 
                  <input type="file" name="images" accept="image/*" multiple (change)="handleImageChange($event)" />

              </ng-container>
            </div>
          </div>
        </div>
      </div>

            <div class="modal-content">
              <div class="modal-header align-items-center">
                <h2 class="heading">
                  Optional: Add Availability Period
                </h2>
             
              </div>
              <div class="modal-body">
                <div class="my-1 p-1">
                  <div class="d-flex flex-column">
                      <div class="row mb-3">
                        <div class="col-sm-2">
                          <h6 class="mb-2">Start Date</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <input
                            type="date"
                            id="startDate"
                            class="floatLabel"
                            name="startDate"
                            placeholder="Start Date"
                          />
                        </div>
                        <div class="col-sm-2">
                          <h6 class="mb-2">End Date</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <input
                            type="date"
                            id="endDate"
                            class="floatLabel"
                            name="endDate"
                            placeholder="End Date"
                          />
                        </div>
                      </div>
      
                      <div class="row mb-3">
                        <div class="col-sm-2">
                          <h6 class="mb-2">Price</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                          <input type="number" class="form-control" id="price"/>
                        </div>

                        <div class="col-sm-2">
                          <h6 class="mb-2">Price Type</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <select id="priceType" name="priceType">
                                <option value="PerPerson">Per Person</option>
                                <option value="PerDay">Per Day</option>
                            </select>
                        </div>
                      </div>
    
                      <div class="row mb-3">
                        <div class="col-sm-2">
                          <h6 class="mb-3">Availability</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <select id="availabilityType" name="availabilityType">
                                <option value="Available">Available</option>
                                <option value="Unavailable">Unavailable</option>
                            </select>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn">Create Accommodation</button>
            </div>
    </form>
  </div>
</div>